.grid {
  display:grid !important;
  width:100%;
  /*min-width:40px;
  max-width:60px;*/
  gap: 5px !important;  
  margin: 1px 0 !important; 
}
.grid > * {
  text-align:center;
  min-width: 120px !important; /* 子项最小宽度（窄屏不挤压，避免文字换行） */
  max-width: 180px !important; /* 子项最大宽度（宽屏不拉伸，保持统一大小） */
  padding: 12px !important; /* 子项内部上下左右留白，值越大，视觉上越“宽” */
}