.person-card {
    display: flex;
    width: 1000px; 
    height: auto;
    margin-bottom: 20px; /*卡片有间距 */
    /*align-items: center;*//*图片和文字在垂直方向居中对齐*/
    justify-content: flex-start;/*左对齐*/
    /*justify-content:space-between;*/
}
.person-image{
    width: 100px; 
    height: auto;
}
.person-info {
    margin-left: 20px; 
    width: auto;
    height: auto;
    /*text-align:right;*/
}
.rank{
    text-align:right;
}